$z_header: 100 !default;
#wrapper {min-height: 100vh; @include flex-container(column); }
#container{flex-grow: 1;}
#guideline{@extend .force-full,.counter-y;
  & .content{height: auto; min-height: 100vh; overflow: visible;}
}
body.home .heroFW{ 
  // @extend .counter-y;
  // & .heroFW__content{@include media-min(md){padding: 20vw;}}
}

.btn{@extend %ripple;}

.loader{position: absolute; top: 0;bottom: 0;left: 0;right: 0; color: rgba(body(font-color),0.6); background-color: rgba(color(white),0.6); z-index: 10; @include flex-container(row,wrap,center,center); font-size: 3rem;}

// MEP
@for $index from 1 through 6{
  h#{$index},
  .h#{$index}{
    @each $key, $value in $colors{
      &.ft-#{$key},
      .ft-#{$key} &:not([class*="ft-"]){color: $value;}
    }
  }
}

@each $key, $value in $colors{
  a.ft-#{$key}:not([class*=btn]),
  .ft-#{$key} a:not([class*=btn]){color: $value;
    &:hover{color: $value;}
  }
}

ol, p, ul{margin-bottom: 1rem;}
.float_right{float: right;}
.float_left{float: left;}

.ce_text{clear: both;
  .ce_text+&{
    @for $index from 1 through 6{
      h#{$index}, .h#{$index}{
        &:first-child{
          margin-top: body(line-height)*1em;
        }
      }
    }
  }
}
.ce_text[class*="bg-"]{@extend .block-std !optional;
  @each $key, $value in $colors{
    &.bg-#{$key}{background-color: $value;}
  }
}

figcaption{font-style: italic; font-size: 0.8em; text-align: center;}
.img-container figcaption{position: absolute; bottom: 0;width: 100%;text-align: center; background: rgba($primary,0.3);color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.9); }

.ce_image figure,
.ce_youtube figure{margin: 0; height: 100%; width: 100%;}
.ce_text figure{
  &.float_right,
  &.float_left{ margin: 0 1rem 1rem 0;
    @include media-max(xs){margin: 0 0 1rem; width: 100%;
      figcaption{text-align: left;}
    }
  }
  &.float_right{ margin: 0 0 1rem 1rem;}
}
.ce_image:not(.float_right,.float_left,.fl-right,.fl-left)+.ce_text{margin-top: 1rem;}

.mod_article{margin-bottom: $spacing; padding: $spacing 0; @extend .neutral !optional;
  @include media-max(xs){margin-bottom: $spacing/2;padding: $spacing/2 0;}
  .modalFW &.first{padding-top: 0;}
  .modalFW &.last{padding-bottom: 0;}
  &>*:last-child{margin-bottom: 0;}
  &:last-child{margin-bottom: 0;}
}
[class*=bg-]:not([class*=bg--]):not([class*=btn-]) .ce_text:last-child>p:last-child{margin-bottom: 0;}


.ce_downloads{
  ul{@extend .reset !optional;}
}


// HEADER
.headerFW{}
.headerFW__nav__wrapper{
  >.mod_navigation{@extend .headerFW__nav__inline !optional;}
}

// FOOTER
#footer { padding: $spacing/2; margin-bottom: 0; z-index: $z_header - 2;
    @if footer(background){background-color: footer(background); }
    @if footer(font-color){color: footer(font-color); }
    @if footer(font-size){font-size: footer(font-size); }
  }
.footer__copyright{text-align: center;}
.footer__nav{ margin: 0.5rem 1rem; flex-grow: 1;
  & ul{@extend .reset;}
  & a {color: inherit; text-decoration: none; }
  & li{ margin: 0 0.3rem;
    &:hover,
    &.active{text-decoration: underline;}
  }
  & strong{font-weight: normal;}
}
.footer__nav+.footer__copyright{ margin: 0.5rem 1rem; text-align: right;}

// INPUTS - FORMS
div.widget{@extend .form-group !optional;}
.explanation{font-size: 0.8em;font-style: italic;font-weight: 300;}
label+.error{font-size: 0.7em; margin-bottom: 0.5em;}

// GRIDS
.d-grid{}
.item-grid{
  &>*:last-child{margin-bottom: 0 !important;}
  & .block-card{height: 100%;}
}

// BLOCK-LIST - DEFAULT
.block-list{flex-basis: 33.33%; flex-grow: 1; max-width: 100%; order: 1;  margin-bottom: 0;
  & .ribbon{position: absolute; right: 0; top: 0; z-index: 2;transform-origin: 100% 100%; transform: translateX(0) translateY(3.35em) rotate(45deg); height: 2.3em; background: color(white); width: 8em; text-align: center; box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
    & svg{font-size: 1.5em; height: 1.4em; transform: translate3d(0,0,0) rotate3d(0,0,1,-45deg);}
    &.featured{background: color(green); color: color(white);}
    &.error{background: color(orange); color: color(white);}
    &.warning{background: color(gold); color: color(white);}
  }
}

// BLOCK-LIST - IMAGES
.block-img{ @extend .block-list;
  & .block-img__wrapper{width: 100%; }
  & .block-img__figure{margin-bottom: 0; z-index: 2;
    & .block-list__title{position: absolute; left: 0;right: 0; bottom: 0.2rem; width: fit-content; text-align: center; margin: 0 auto; padding: 0.5rem 1rem;  opacity: 1; transition: opacity 0.4s;
      // padding: 0.5rem 3rem;
      // background: radial-gradient(ellipse at center, white -10%,transparent 70%,transparent 0%);
      // background: radial-gradient(ellipse at center,#333 -30%,transparent 70%,transparent 0); color: color(white);
      color: color(white); text-shadow: 3px 3px 1px rgba(0,0,0,0.5); font-size: 1.5em; mix-blend-mode: luminosity;
    }
  }
  & .block-img__content{padding: $spacing/2;
    @include media-max(xxs){padding: $spacing/2;}
    & p:last-child{margin-bottom: 0;}
  }
  & .block-img__content__wrapper{@include size(100%); @include flex-container(column,wrap,center); text-align: left; position: relative;
    & .block-list__title{padding: 0 $spacing/2; }
    & .block-list__text{padding: 0 $spacing/2;}
    & .block-list__headline,
    & .block-list__footer{position: absolute; bottom:0; width: 100%;
      & > div{padding: 0;}
    }
    & .block-list__headline{top: 0; bottom: auto;}
  }
  &:hover{
    & .block-img__figure .block-list__title{opacity: 0;}
  }
}

// NEWSLIST
.mod_newslist{
  &:not(.d-grid){display: flex;flex-wrap: wrap;
    .block-card{
      margin-left: $spacing*0.5;
      margin-right: $spacing*0.5;
    }
  }
  .block-card{
    padding: 0;
  }
  .block-card__title{@extend .h2;}
  .block-card__content{justify-content: center;}
}
.block-card__figure .block-card__headline{position: absolute;bottom: 0; width: 100%; z-index: 1; margin: 0 !important;}

// FAQ
.mod_faqpage{
  article+article{margin-top: 6em;
    @include media-max(sm){margin-top: 4em;}
  }
}



// ANIMATIONS
@include keyframes(appears){
  from {opacity: 0;}
    to {opacity: 1;}
}

//MOD_CALENDAR
.mod_calendar{position: relative; max-width: 85vh;
  +*{margin-top: 1em;}
}
.calendar__event{font-size: 0.8em;margin: 0.25rem 0; border-radius: $radius; padding: 0.35rem; box-shadow: 1px 1px 2px rgba(#000, 0.5); max-width: 100%; width: 100%;  position: relative; overflow: hidden; line-height: 1.2; flex-shrink: 0; transition: all 0.4s; cursor: pointer;
  & a{color: inherit; text-decoration: none; display: block;}
  & span{overflow: hidden; text-overflow: ellipsis; display: block;max-width: 100%;}
}
.modalFW[data-name*="event_"]{
  & .mod_eventreader{
    & p.back{pointer-events:none; display: none;}
  }
}
table.calendar{ table-layout: fixed;
  & tbody{display: block;padding: 0.25rem;}
  & tr{display: flex;}
  & td, & th{flex-grow: 1;flex-basis: 0; max-width: 100%; width: 100%; min-height: 1px; position: relative;
    &.col_last{margin-right: -1px;}
  }
  & th{
    &.head{@include ellipsis();
      & a{text-decoration: none; }
      &.previous{border-right: 0;}
      &.current{text-align: center; border-left: 0; border-right: 0;}
      &.next{border-left: 0; text-align: right;}
    }
    &.label{ @include ellipsis; text-align: center; padding: 0.5rem 0.25rem 0; border-bottom: 0; color: rgba(body(font-color),0.8);
      &:first-child{padding-left:0.5rem;}
      &:last-child{padding-right: 0.5rem;}
      @include media-max(md){
        & span{display: none;}
      }
    }
  }
  & td.days{@extend %paper; display: block; overflow: hidden; margin: 0.25rem; line-height: 1;
    &.empty{background: color(greylight); opacity: 0.5;}
    &:before{content: ""; width: 1px; margin-left: -1px; float: left; height: 0; padding-top: 100%;}
    &:after {content: ""; display: table; clear: both;}
    & .header{position: absolute; top: 0.35rem; left: 0.35rem; font-size: 0.8rem; z-index: 1; pointer-events: none;}
    &.active .header{@include media-max(xxs){color: color(white);}}
    & .td__wrapper{width: 100%;height: 100%; overflow: hidden;position: absolute; top: 0;left: 0;padding:.25rem 0.5rem; display: flex;flex-direction: column; justify-content: flex-end;}
    & .event{visibility: hidden;opacity: 0;
      &.active{visibility: visible;opacity: 1;}
      & a{color: inherit;}
    }
    & .reduced{display: none;}
    & .toggler{background: color(orange); cursor: pointer; position: absolute; border-radius: 100%; height: 35px; text-align: center; line-height: 32px; width: 35px; color: white; right: 0.35rem; bottom: 0.35rem; display: none; box-shadow: 1px 1px 2px rgba(#000, 0.5);
      @include media-max(xxs){right: 0;bottom: 0;top: 0;left: 0; height: auto; width: auto; border-radius: 0; color: transparent;}
    }
    & .reduced+.toggler{display: block;}

  }
}

// EVENTS
.mod_eventlist{
  .block-card__title{font-size: 2em;font-weight: 500; margin-bottom: 0;}
  .block-card__figure{aspect-ratio: 1/1; width: auto; flex-basis: 0 !important; }
  .block-card__content{position: relative;}
  
  .block-card__text{margin-top: 1.5em;}
  .block-card{margin-bottom: 1rem;}
  .empty{margin: 2em 0; text-align: center; font-style: italic;}
}
.event__link{margin-bottom: -3em !important; margin-right: -2.5em; margin-top: 1em; text-align: right; padding: 0.5em 0.75em;
  a{ opacity: 0.2; transition: opacity 0.4s; display: inline-block;  position: relative; width: 30px; height: 30px;
    &:before,
    &:after{ content: ""; display: block; width: 30px; height: 5px;margin: auto; width: 85%; background: currentColor; top: 50%; left: 50%; position: absolute; transform: translateX(-50%); border-radius: 20px;}
    &:before{transform: translateX(-50%) rotate(90deg);}
    &:hover{opacity: 0.6;}
  }
}

// EVENT READER
.event__icon{ position: absolute; top: 1em;right: 1em;
    i[class*=fa],svg{font-size: 2em;}
    &.upcoming{color: $warning;}
    &.current {color: $success;}
    &.bygone  {color: $error;}
    +.block-card__title{margin-top: 0;}
    .reader__headline &{position: relative; top: auto; right: auto;}
}

// LISTS & READERS
.filters{margin-bottom: 1rem;}
.reader__headline{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; position: relative; margin-bottom: 0.5em;}
.reader__author,
.reader__time{font-size: 0.85em;opacity: 0.6;}
.reader__picture{max-height: 50vh; margin-bottom: 1em;}
.reader__text{margin-top: 2em;margin-bottom: 3em;
  +.reader__author{margin-top: -1.75em;}
}
.reader__location{margin-top: 1.5em; opacity: 0.75;
  i[class*=fa],svg{font-size: 1.25em;}  
}
.reader__map{margin-top: 1em;}
.reader__footer{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; position: relative; margin-top: 4em;
  @include media-max(xs){margin-top: 3em;} 
}

// BREADCRUMB
.mod_breadcrumb{ padding-top: 0.5em; padding-bottom: 0.5em; opacity: 0.3; transition: opacity 0.4s;
  &:hover{opacity: 1;}
  ul{@extend .reset; display: flex;
    li{white-space: nowrap; min-width: 5ch; @include ellipsis();}
    li:not(:first-child):before{content:">"; display: inline-block;margin-left: 0.5em; margin-right: 0.5em; font-family: monospace; font-weight: 300;}
  }
}

// PAGINATION
.pagination{
  li{margin: 0 1px;}
  .btn{padding-right: 1em; padding-left: 1em;}
}

// SOCIALS
.share-buttons__container{ color: contrastFW(body(background),$primary);
  [class*=share-buttons__btn]{
    transition: background 0.4s;
    display: inline-flex;
    background: $primary;
    color: inherit;
    width: 1.75em;
    height: 1.75em;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{text-decoration: none;color: inherit;
      @if lightness($primary)>60{background: scale-color(btn(background),$lightness:-15); }
      @else{background: scale-color(btn(background),$lightness:15); }
    }
    &+[class*=share-buttons__btn]{margin-left: 0.25em;}
  }
}

// TESTIMONIAL
.sliderFW.preset--testimonial .sliderFW__item__content .author{color: color(primary);
  @include media-max(xxs){margin-right: 0;}
}
.sliderFW.preset--testimonial .sliderFW__item__content{
  @include media-max(xxs){padding: $spacing 2rem;}
}
.sliderFW__arrow{
  @include media-max(xxs){width: 2rem;}
}
.sliderFW__arrow.next:after,
.sliderFW__arrow.prev:after{border-color: color(primary);
  @include media-max(xxs){width: 2rem; height: 2rem;}
}

// Quote
.ce_rsce_quote{position: relative; padding: 7.5ch; display: flex;justify-content: center; align-items: start; flex-wrap: wrap;
  &:before,
  &:after {color: $primary; font-size: 5em; font-style: normal; line-height: 1.5ch; position: absolute; text-align: center; width: 1.5ch; font-family: serif;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.4));
  }
  &:before {content: "“";top: 0;left: 0;transform: translateY(0.5ch); }
  &:after  {content: "”";bottom: 0;right: 0;transform: translateY(0.35ch); }
  &.bg-none{background: none; box-shadow: none;}
}
.quote__content{ display: flex; align-items: center;
  flex-grow: 1; 
  flex-shrink: 0;
  flex-basis: 0; 
  max-width: 100%;
  min-width: 200px;
}
.quote__picture{ min-width: 200px;
  &:not(.img-container){ display: flex;
    .ce_rsce_quote.img--center & {justify-content: center; align-self: center;}
    .ce_rsce_quote.img--left   & {justify-content: flex-start;}
    .ce_rsce_quote.img--right  & {justify-content: flex-end;}
    .ce_rsce_quote.img--top    & {align-self: flex-start;}
    .ce_rsce_quote.img--bottom & {align-self: flex-end;}
  }
  &.img-container{ 
    flex-grow: 0; 
    align-self: center;
    &:not([style*=width]){
      flex-basis: 30%;
    }
  }
}
.quote__content__text{  font-style: italic; font-size: inherit; @include lastChildNoMargin();
  @include media-max(xxs){font-size:0.9em;}
  &:before,&:after{display: none;}
}
.quote__content__author{text-align: right;
  .quote__content__text+&{margin-top: 1rem;}
}

/* JVECTOR-MAP */
#mapWrapper{ padding-top: 0; position: relative; @include flex-container(); @extend .force-full;
  &.no-buttons div[class*="jvectormap-zoom"]{display: none;}
  & button.map__reset{position: absolute; margin: 0; top: 15px;left: 15px; display: none; box-shadow: 1px 3px 10px rgba(0,0,0,.5);z-index: 1;
    &.active{display: block;}
  }
  &+.map__content,
  &+.map__content+.map__dropdown,
  &+.map__content+.map__dropdown+.map__reset{display: none;}
  & .map__content{ @include flex-container(column); width: 450px; position: absolute; left:100%; height: 100%; overflow: hidden; transition: transform 0.6s; transform: translate3d(10%,0,0); background-color: rgba(color(white),0.8); box-shadow: -5px 5px 10px rgba(0,0,0,0.2); padding-bottom: $spacing;
    &.active{ transform: translate3d(-100%,0,0);}
    & .map__content__title{ margin-top: 0;margin-bottom: 0; text-transform: uppercase; background-color: $primary;}
    & .map__content__wrapper{ height: 100%; overflow: auto;}
    & .map__content__item{overflow: hidden; cursor: pointer; padding: $spacing*2 0;  border-bottom: 1px solid color(black); display: none;
      &.active{display: block;}
      &.selected,
      &.hover,
      &:hover{background-color: rgba($primary,0.1);
        & p.ft-b{color: $primary;}
      }
    }
    & .fa{width: 25px; line-height: 1.8;}
  }
  & .map__dropdown{position: absolute; min-width: 40vw; width:auto; margin: auto; top:15px; left: 0;right: 0; @include flex-container(row,nowrap,center);
    & .dropdown{margin: 0 5px;box-shadow: 1px 3px 10px rgba(0,0,0,.15); max-width: 200px;
      &#dd-map__dropdown__service{display: none;
        &.active{display: block;}
      }
      & .dropdown-toggle span.text{@include ellipsis();}
    }
  }
  & path[fill="#f66f6f"],
  & path[fill="#f12323"]{cursor: pointer;}
}


// CONTAO-JOB-OFFERS
.job{}
.job__title{}
.job__location{opacity: 0.6; margin-bottom: 1.5em; margin-top: 1.5em;}
.job__location__icon{margin-right: 0.25em; font-size: 1.25em;}
.job__teaser{}
.job__attributes{@extend .d-grid,.cols-3,.cols-xs-1,.p-y !optional;
  .job_default &{@extend .p-x !optional;}
}
.job__attribute{
  .job_default &{@extend .p-x !optional;}
}
.job__attribute__title{font-size: 1.2em; margin-bottom: 0.35em; white-space: nowrap;}
.job__attribute__value{opacity: 0.6;}
.job__footer{@extend .counter-bottom,.counter-right !optional; display: flex; justify-content: flex-end; padding: 0 1.45em .75em;}
.job__more{font-size: 2em; opacity: 0.4; transition: opacity 0.4s; cursor: pointer; color: $primary;
  &:hover{opacity: 0.8;}
}


// mod_listing
.mod_listing{
  .list_search{
    .input-group{
      .select2FW-wrapper{min-width: 150px;}
      >input[type=text]{flex-grow: 3;}
    }
  }
}

// LIST ICONS
@function tonal-transition($color1, $color2, $tonalSize, $tonalRequest){
  @if ($tonalRequest != 1){
    @return mix($color2, $color1, 100% * $tonalRequest/$tonalSize);
  }
  @else{
    @return $color1;
  }
}

.ce_rsce_listIcons{ margin-bottom: $spacing; align-items: baseline; justify-items: center;
  .block-icon{text-align: center; max-width: 350px; width: 100%;
    &.mode--icon{ width: auto;
      .block-icon__icon{ font-size: 4em; margin-bottom: 2rem;}
    }
    &[class*=bg--]{
      .block-icon__icon{ @extend %img-container,.r_1-1 !optional;border-radius: 100%;
        img{position: relative; max-width: 70%;}
      }
    }
    @each $key, $value in $colors{
      &.bg--#{$key} .block-icon__icon{background: $value !important; color: contrastFW(color(white),$value);}
    }
  } 
  .block-icon__icon{display: flex;align-items: center;justify-content: center;}
  .block-icon__text{ font-size: 0.9rem; margin: 2rem auto; padding-bottom: 2rem; max-width: 220px; @include lastChildNoMargin(); }
  a{color:inherit;text-decoration: none;}
}


// RATINGS
.ce_rsce_ratings{}
.rating{ margin-bottom: $spacing; 
  @include media-max(xs){margin-bottom: $spacing/2;}
}
.rating__label{margin-bottom: 0.25em;}
.rating__icons{font-size: 1.5em; margin: 0 -2px;
  i[class*=fa]{ margin: 0 2px;}
}
.rating__text{margin-top: 0.35em;  @include lastChildNoMargin(); }

// PDF VIEWER
.ce_rsce_pdfViewer{}
.pdfviewer__iframe{
  +*{margin-top: 1em;}
}


// PriceCards
$heightMain : 1.85em;
.ce_rsce_priceCards{padding-top: $heightMain;
  &:not(.d-grid){
    display: flex; flex-wrap: wrap; justify-content: center;margin-left: $spacing*-0.5; margin-right: $spacing*-0.5;
    .priceCard{min-width: 300px; flex-basis: 30%; flex-grow: 1;margin-left: $spacing*0.5; margin-right: $spacing*0.5;margin-bottom: $spacing;}
  }
  &.d-grid{
    .priceCard.empty{display: none;}
  }
}
.priceCard{padding: 0;max-width: 100%; @extend %paper !optional;
  &.empty{margin: 0 !important; box-shadow: none;}
}
.priceCard__wrapper{ display: flex; flex-direction: column;align-items: center;  padding: 0 0 1.25em; height: 100%; 
  &:not([class*=bg-]){ background: body(block-background); border: 1px solid color(greylighter);}
}
.priceCard__title{text-transform: uppercase; padding: 1em; font-size: 1.25em; width: 100%; text-align: center; 
  .priceCard.mode--text &{padding-bottom: 0;}
}
.priceCard__price{font-weight: bold; padding: 0.5em; padding-bottom: 1.5em; font-size: 1.2em; }
.priceCard__isMain{text-align: center; background: $secondary; color: contrastFW(color(white),$secondary); font-weight: 300;padding: 0 1em; text-transform: uppercase; line-height: $heightMain; margin-top: -$heightMain;}
.priceCard__price__amount{}
.priceCard__price__currency{}
.priceCard__price__period{}
.priceCard__content{ font-size: 0.85em; padding: 2em 1.5em 1.5em; flex-grow: 1; position: relative;
  .priceCard.mode--lines &:before{content: ""; display: block; height: 1px;  background: color(greylighter); position: absolute; top: 0; left: 0; width: 100%;}
  .priceCard__wrapper[class*=bg-] &:before{background: currentColor; opacity: 0.25;}
}
.priceCard__content__item{margin-bottom: 0.75em; position: relative; padding-left: 1.5em;
  i{position: absolute; left: 0; line-height: 1.5em;}
  &:last-child{margin-bottom: 0;}
}
.priceCard__cta{ font-size: 1.2em;    
  a{width: 100%;}
}


// EXTRANET
.mod_login{
  &.login{max-width: 600px;
    .login__submitwrapper{display: flex;flex-wrap: wrap;align-items: baseline;justify-content: center;font-size: 0.8em;
      .widget:only-child{margin-left: auto;}
    }
  }
}

.mod_registration{max-width: 900px;}

// password checker
.password-checker{ display: flex; flex-wrap: wrap; gap: 1em;
  .fields{flex-grow: 1; flex-basis: 50%;}
  .helper{align-self: center;
    p{margin-bottom: 0.75em; font-weight: bold;}
    ul{list-style: none;}
    li{margin-bottom: 0.5em; color: $error;
      &:before{display: inline-block;content:"\2715"; margin-left: -2.8ch; width: 2.8ch; text-align: center; font-weight: bold;}
      &.valid{color: $success;
        &:before{content:"\2713";}
      }
    }
  }
  input+button{position: absolute !important;right: 2px;width: 40px;top: 50%; transform: translateY(-50%); opacity: 0.5; transition: opacity 0.4s;
    :hover{opacity: 1;}
  }
}