$z_header: 100 !default;
#wrapper {min-height: 100vh; @include flex-container(column); position: relative;}
#container{flex-grow: 1;}
#guideline{@extend .force-full,.counter-y;
  & .content{height: auto; min-height: 100vh; overflow: visible;}
}

%btn{@extend %ripple;}

.loader{position: absolute; top: 0;bottom: 0;left: 0;right: 0; color: rgba(body(font-color),0.6); background-color: rgba(color(white),0.6); z-index: 10; @include flex-container(row,wrap,center,center); font-size: 3rem;}

#smartgearDisclaimer{position: fixed; left: 1rem; bottom: 1rem; font-size: 0.7em; width: 100%; max-width: 400px; padding: 1.5em;z-index: $z_header - 1; margin-bottom: 0;
  @include media-max(xxs){max-width: 80vw;}
  .close{ position: absolute; right: 0.25em; top: 0.25em; font-size: 1.5em; width: 1.5em; display: block; text-align: center; cursor: pointer; opacity: 0.4; transition: opacity 0.4s;
    &:hover{opacity: 0.8;}
  }
}

// LAYOUT
body.cols--2{
  .mod_breadcrumb{@extend .container !optional;}
  #wrapper{overflow: hidden;}
  #container{ display: flex; column-gap: $spacing; flex-wrap: wrap;
    @include media-max(sm){}
    @include media-max(xs){column-gap: $spacing/2;}
  }
  #main{flex-basis: 60%; flex-grow: 1;}
  aside{flex-basis: 30%; flex-grow: 1; min-width: 250px; position: relative; display: flex; justify-content: center;
    @include media-max(sm){flex-basis: 100%; min-width: 0; }
    >.inside{max-width: 100%;}
  }
}

body.cols--3{
  // #wrapper{overflow: hidden;}
  #container{ display: flex; column-gap: $spacing; flex-wrap: wrap;
    @include media-max(sm){}
    @include media-max(xs){column-gap: $spacing/2;}
  }
  #main{flex-basis: 100%; flex-grow: 1;}
  #left{flex-basis: 60%; flex-grow: 1;}
  #right{flex-basis: 30%; flex-grow: 1; min-width: 250px; position: relative; display: flex; justify-content: center;
    @include media-max(sm){flex-basis: 100%; min-width: 0; }
    >.inside{max-width: 100%;}
  }
}

// MEP
@for $index from 1 through 6{
  h#{$index},
  .h#{$index}{
    @each $key, $value in $colors{
      &.ft-#{$key},
      .ft-#{$key} &:not([class*="ft-"]){color: $value;}
    }
  }
}

@each $key, $value in $colors{
  a.ft-#{$key}:not([class*=btn]),
  .ft-#{$key} a:not([class*=btn]){color: $value;
    &:hover{color: $value;}
  }
}

b,strong{font-weight: bold;}
ol, p, ul{margin-bottom: 1rem;}
.float_right{float: right;}
.float_left{float: left;}

.ce_text{clear: both;
  .ce_text+&{
    @for $index from 1 through 6{
      h#{$index}, .h#{$index}{
        &:first-child{
          margin-top: body(line-height)*1em;
        }
      }
    }
  }
}
.ce_text[class*="bg-"]{@extend .block-std !optional;
  &:not([class*=m-bottom]):not([class*=m-y]){margin-bottom: 0;}
  @each $key, $value in $colors{
    &.bg-#{$key}{background-color: $value;}
  }
}

figcaption{font-style: italic; font-size: 0.8em; text-align: center;}
.img-container figcaption{position: absolute; bottom: 0;width: 100%;text-align: center; background: rgba($primary,0.3);color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.9); }

.ce_player figure,
.ce_image figure,
.ce_youtube figure{margin: 0; height: 100%; width: 100%;}
.ce_text figure{
  &.float_right,
  &.float_left{ margin: 0 1rem 1rem 0;
    @include media-max(xs){margin: 0 0 1rem; width: 100%;
      figcaption{text-align: left;}
    }
  }
  &.float_right{ margin: 0 0 1rem 1rem;}
}
.ce_image:not(.float_right,.float_left,.fl-right,.fl-left)+.ce_text{margin-top: 1rem;}

video{max-width: 100%;}

.mod_article{margin-bottom: $spacing; padding: $spacing 0; @extend .neutral !optional;
  @include media-max(xs){margin-bottom: $spacing/2;padding: $spacing/2 0;}
  .modalFW &.first{padding-top: 0;}
  .modalFW &.last{padding-bottom: 0;}
  &>*:last-child{margin-bottom: 0;}
  &:last-child{margin-bottom: 0;}
  &:first-child:not([class*=p-top]):not([class*=p-y]):not([class*=p-0]){
    >.heroFW,>.sliderFW{
      &:first-child:not([class*=m-top]):not([class*=m-y]):not([class*=m-0]){
        margin-top: -$spacing;
        @include media-max(xs){margin-top: -$spacing/2;}
      }
    }
  }
}
[class*=bg-]:not([class*=bg--]):not([class*=btn-]) .ce_text:last-child>p:last-child{margin-bottom: 0;}


.ce_downloads{}


.mod_wem_sg_social_link{ font-size: 1.5em; 
  a{display: inline-block; width: 1.5em; height: 1.5em; text-align: center; opacity: 0.4; transition: opacity 0.4s; color: inherit;
    &:hover{opacity: 1; color: inherit;}
  }
}


// HEADER
.headerFW{}
.headerFW__nav__wrapper{
  >.mod_navigation{@extend .headerFW__nav__inline !optional;}
}

// FOOTER
#footer { padding: $spacing/2; margin-bottom: 0; z-index: $z_header - 2;
    @if footer(background){
      background-color: footer(background);
      a{color: contrastFW(link(font-color),footer(background));
        &:hover{color: contrastFW(link(font-color-hover),footer(background));}
      }
    }
    @if footer(font-color){color: footer(font-color); }
    @if footer(font-size){font-size: footer(font-size); }
  }
.footer__copyright{text-align: center; font-size: 0.8em;}
.footer__nav{ margin: 0.5rem 1rem; flex-grow: 1;
  & ul{@extend .reset;}
  & a {color: inherit; text-decoration: none; }
  & li{ margin: 0 0.3rem;
    &:hover,
    &.active{text-decoration: underline;}
  }
  & strong{font-weight: normal;}
}
.footer__nav+.footer__copyright{ margin: 0.5rem 1rem; text-align: right;}

// INPUTS - FORMS
div.widget{@extend .form-group !optional;}
.explanation{font-size: 0.8em;font-style: italic;font-weight: 300;}
label+.error{font-size: 0.7em; margin-bottom: 0.5em;}

.cto-toolbar select:not(.custom){display: block;}


// GRIDS
.d-grid{}
.item-grid{
  &>*:last-child:not([class*=m-bottom]){margin-bottom: 0 !important;}
  &>.block-card{height: 100%;}
}

// CE_GALLERY
.ce_gallery{
  figure{margin: 0;}
  &:not(.masonry){
    &:not([class*=gap-]){gap: 1em;}
  }
  &.masonry{ 
    @for $index from 1 through 12{
      &.cols-#{$index}{columns: $index;}
    }
    @each $key, $value in $breakpoints{
      @include media-max($key){
        @for $index from 1 through 12{
          &.cols-#{$key}-#{$index}{columns: $index;}
        }
      }
    }
    a{position: relative;}
  }
}
.ce_gallery__item{
  img{@include img-container(); aspect-ratio: 1/1;}
  .ce_gallery.masonry &{ margin-bottom: 1em;
    img{aspect-ratio:0;}
  }
}

// BLOCK-LIST - DEFAULT
.block-list{flex-basis: 33.33%; flex-grow: 1; max-width: 100%; order: 1;  margin-bottom: 0;
  & .ribbon{position: absolute; right: 0; top: 0; z-index: 2;transform-origin: 100% 100%; transform: translateX(0) translateY(3.35em) rotate(45deg); height: 2.3em; background: color(white); width: 8em; text-align: center; box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
    & svg{font-size: 1.5em; height: 1.4em; transform: translate3d(0,0,0) rotate3d(0,0,1,-45deg);}
    &.featured{background: color(green); color: color(white);}
    &.error{background: color(orange); color: color(white);}
    &.warning{background: color(gold); color: color(white);}
  }
}

// BLOCK-LIST - IMAGES
.block-img{ @extend .block-list;
  & .block-img__wrapper{width: 100%; }
  & .block-img__figure{margin-bottom: 0; z-index: 2;
    & .block-list__title{position: absolute; left: 0;right: 0; bottom: 0.2rem; width: fit-content; text-align: center; margin: 0 auto; padding: 0.5rem 1rem;  opacity: 1; transition: opacity 0.4s;
      // padding: 0.5rem 3rem;
      // background: radial-gradient(ellipse at center, white -10%,transparent 70%,transparent 0%);
      // background: radial-gradient(ellipse at center,#333 -30%,transparent 70%,transparent 0); color: color(white);
      color: color(white); text-shadow: 3px 3px 1px rgba(0,0,0,0.5); font-size: 1.5em; mix-blend-mode: luminosity;
    }
  }
  & .block-img__content{padding: $spacing/2;
    @include media-max(xxs){padding: $spacing/2;}
    & p:last-child{margin-bottom: 0;}
  }
  & .block-img__content__wrapper{@include size(100%); @include flex-container(column,wrap,center); text-align: left; position: relative;
    & .block-list__title{padding: 0 $spacing/2; }
    & .block-list__text{padding: 0 $spacing/2;}
    & .block-list__headline,
    & .block-list__footer{position: absolute; bottom:0; width: 100%;
      & > div{padding: 0;}
    }
    & .block-list__headline{top: 0; bottom: auto;}
  }
  &:hover{
    & .block-img__figure .block-list__title{opacity: 0;}
  }
}

// NEWSLIST
.mod_newslist{ @extend .block-card__container,.isFlex !optional;
  &:not(.d-grid){display: flex;flex-wrap: wrap;}
  .block-card{padding: 0;}
  .block-card__title{@extend .h2;}
  .block-card__content{justify-content: center;}
  +*:not([class*=m-top]):not([class*=m-y]){margin-top: $spacing;}
}
.block-card__figure .block-card__headline{position: absolute;bottom: 0; width: 100%; z-index: 1; margin: 0 !important;}

// FAQ
.mod_faqpage{
  article+article{margin-top: 6em;
    @include media-max(sm){margin-top: 4em;}
  }
}



// ANIMATIONS
@include keyframes(appears){
  from {opacity: 0;}
    to {opacity: 1;}
}

//MOD_CALENDAR
.mod_calendar{position: relative; 
  &:not([class*=w-]){max-width: 85vh;}
  +*{margin-top: 1em;}
}
.calendar__event{font-size: 0.8em;border-radius: $radius; padding: 0.35rem; box-shadow: 1px 1px 2px rgba(#000, 0.5); max-width: 100%; width: auto; position: relative; overflow: hidden; line-height: 1.2; flex-shrink: 0; transition: all 0.4s; cursor: pointer;
  margin: .25rem 0.5rem;
  // margin: 0.25rem 0; 
  & a{color: inherit; text-decoration: none; display: block;}
  & span{overflow: hidden; text-overflow: ellipsis; display: block;max-width: 100%;}
  @for $index from 2 through 7{
    &.span-#{$index}{max-width: none;  width: 100% * $index;
      align-self: end;
    }
  }
}
.modalFW[data-name*="event_"]{
  & .mod_eventreader{
    & p.back{pointer-events:none; display: none;}
  }
}
table.calendar{ table-layout: fixed;
  & tbody{display: block;padding: 0.25rem;}
  & tr{display: flex;}
  & td, & th{flex-grow: 1;flex-basis: 0; max-width: 100%; width: 100%; min-height: 1px; position: relative;
    &.col_last{margin-right: -1px;}
  }
  & th{
    &.head{@include ellipsis();
      & a{text-decoration: none; }
      &.previous{border-right: 0;}
      &.current{text-align: center; border-left: 0; border-right: 0;}
      &.next{border-left: 0; text-align: right;}
    }
    &.label{ @include ellipsis; text-align: center; padding: 0.5rem 0.25rem 0; border-bottom: 0; color: rgba(body(font-color),0.8);
      &:first-child{padding-left:0.5rem;}
      &:last-child{padding-right: 0.5rem;}
      @include media-max(md){
        & span{display: none;}
      }
    }
  }
  & td.days{@include paper(); display: block; margin: 0.25rem; line-height: 1;
    padding: 0;
    // overflow: hidden;
    &.empty{background: color(greylight); opacity: 0.5;}
    &:before{content: ""; width: 1px; margin-left: -1px; float: left; height: 0; padding-top: 100%;}
    &:after {content: ""; display: table; clear: both;}
    & .header{position: absolute; top: 0.35rem; left: 0.35rem; font-size: 0.8rem; z-index: 1; pointer-events: none;}
    &.active .header{@include media-max(xxs){color: color(white);}}
    & .td__wrapper{width: 100%;height: 100%;position: absolute; top: 0;left: 0; display: flex;flex-direction: column; justify-content: flex-end;
      padding:.25rem 0; 
      // padding:.25rem 0.5rem; 
      // overflow: hidden;
    }
    & .event{visibility: hidden;opacity: 0;
      &.active{visibility: visible;opacity: 1;}
      & a{color: inherit;}
    }
    & .reduced{display: none;}
    & .toggler{background: $error; color: contrastFW(white,$error); font-size: 0.8em; cursor: pointer; position: absolute; border-radius: 100%; height: 30px; text-align: center; line-height: 28px; width: 30px;  right: 0.35rem; bottom: 0.35rem; display: none; box-shadow: 1px 1px 2px rgba(#000, 0.5);
      @include media-max(xxs){right: 0;bottom: 0;top: 0;left: 0; height: auto; width: auto; border-radius: 0; color: transparent;}
    }
    & .reduced+.toggler{display: block;}

  }
}

// EVENTS
.mod_eventlist{
  .block-card__title{font-size: 2em;font-weight: 500; margin-bottom: 0;}
  .block-card__figure{aspect-ratio: 1/1; width: auto; flex-basis: 0 !important; }
  .block-card__content{position: relative;}
  
  .block-card__text{margin-top: 1.5em;}
  .block-card{margin-bottom: 1rem;}
  .empty{margin: 2em 0; text-align: center; font-style: italic;}
}
.event__link{margin-bottom: -3em !important; margin-right: -2.5em; margin-top: 1em; text-align: right; padding: 0.5em 0.75em;
  a{ opacity: 0.2; transition: opacity 0.4s; display: inline-block;  position: relative; width: 30px; height: 30px;
    &:before,
    &:after{ content: ""; display: block; width: 30px; height: 5px;margin: auto; width: 85%; background: currentColor; top: 50%; left: 50%; position: absolute; transform: translateX(-50%); border-radius: 20px;}
    &:before{transform: translateX(-50%) rotate(90deg);}
    &:hover{opacity: 0.6;}
  }
}

// EVENT READER
.event__icon{ position: absolute; top: 1em;right: 1em;
    i[class*=fa],svg{font-size: 2em;}
    &.upcoming{color: $warning;}
    &.current {color: $success;}
    &.bygone  {color: $error;}
    +.block-card__title{margin-top: 0;}
    .reader__headline &{position: relative; top: auto; right: auto;}
}

// LISTS & READERS
.filters{margin-bottom: 1rem;}
.reader__headline{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; position: relative; margin-bottom: 0.5em;}
.reader__author,
.reader__time{font-size: 0.85em;opacity: 0.6;}
.reader__picture{max-height: 50vh; margin-bottom: 1em;}
.reader__text{margin-top: 2em;margin-bottom: 3em;
  +.reader__author{margin-top: -1.75em;}
}
.reader__location{margin-top: 1.5em; opacity: 0.75;
  i[class*=fa],svg{font-size: 1.25em;}  
}
.reader__map{margin-top: 1em;}
.reader__footer{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; position: relative; margin-top: 4em;
  @include media-max(xs){margin-top: 3em;} 
}

// BREADCRUMB
.mod_breadcrumb{ padding-top: 0.5em; padding-bottom: 0.5em; opacity: 0.3; transition: opacity 0.4s; 
  &:hover{opacity: 1;}
  >ul{@extend .reset; display: flex; font-size: 0.8em;
    li{white-space: nowrap; min-width: 5ch; @include ellipsis();}
    li:not(:first-child):before{content:">"; display: inline-block;margin-left: 0.5em; margin-right: 0.5em; font-family: monospace; font-weight: 300;}
  }
  .sliderFW:not(.m-bottom-0) + &,
  .heroFW:not(.m-bottom-0)   + &{margin-top: -$spacing;}
  .mod_article &:not(:last-child){margin-bottom: $spacing;}
}

// PAGINATION
.pagination{
  *+&{margin-top: 1em;}
  li{margin: 0 1px;}
  %btn{--btn-p-x: 1em;}
}

// SOCIALS
.share-buttons__container{ color: contrastFW(body(background),$primary);
  [class*=share-buttons__btn]{
    transition: background 0.4s;
    display: inline-flex;
    background: $primary;
    color: inherit;
    width: 1.75em;
    height: 1.75em;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{text-decoration: none;color: inherit;
      @if lightness($primary)>60{background: scale-color(btn(background),$lightness:-15); }
      @else{background: scale-color(btn(background),$lightness:15); }
    }
    &+[class*=share-buttons__btn]{margin-left: 0.25em;}
  }
}

// TESTIMONIAL
.sliderFW.preset--testimonial .sliderFW__item__content .author{color: color(primary);
  @include media-max(xxs){margin-right: 0;}
}
.sliderFW.preset--testimonial .sliderFW__item__content{
  @include media-max(xxs){padding: $spacing 2rem;}
}
.sliderFW__arrow{
  @include media-max(xxs){width: 2rem;}
}
.sliderFW__arrow.next:after,
.sliderFW__arrow.prev:after{border-color: color(primary);
  @include media-max(xxs){width: 2rem; height: 2rem;}
}

.ce_sliderStart{
  .slider-control{position: static;height: 0;}
  .slider-wrapper{
    .heroFW{margin-bottom: 0;}
  }
}

// Quote
.ce_rsce_quote{position: relative; padding: 7.5ch; display: flex;justify-content: center; align-items: flex-start; flex-wrap: wrap;
  &:before,
  &:after {color: $primary; font-size: 5em; font-style: normal; line-height: 1.5ch; position: absolute; text-align: center; width: 1.5ch; font-family: serif;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.4));
  }
  &:before {content: "“";top: 0;left: 0;transform: translateY(0.5ch); }
  &:after  {content: "”";bottom: 0;right: 0;transform: translateY(0.35ch); }
  &.bg-none{background: none; box-shadow: none;}
}
.quote__content{ display: flex; align-items: center;
  flex-grow: 1; 
  flex-shrink: 0;
  flex-basis: 0; 
  max-width: 100%;
  min-width: 200px;
}
.quote__picture{ min-width: 200px;
  &:not(.img-container){ display: flex;
    .ce_rsce_quote.img--center & {justify-content: center; align-self: center;}
    .ce_rsce_quote.img--left   & {justify-content: flex-start;}
    .ce_rsce_quote.img--right  & {justify-content: flex-end;}
    .ce_rsce_quote.img--top    & {align-self: flex-start;}
    .ce_rsce_quote.img--bottom & {align-self: flex-end;}
  }
  &.img-container{ 
    flex-grow: 0; 
    align-self: center;
    &:not([style*=width]){
      flex-basis: 30%;
    }
  }
}
.quote__content__text{  font-style: italic; font-size: inherit; @include lastChildNoMargin();
  @include media-max(xxs){font-size:0.9em;}
  &:before,&:after{display: none;}
}
.quote__content__author{text-align: right;
  .quote__content__text+&{margin-top: 1rem;}
}


// quote with rating
.ce_rsce_quoteWrating{ position: relative; padding: 2.4em 2em 2em; min-width: 300px; margin-top: 1em; display: flex; border-radius: $radius;
  &:not([class*=bg-none]){@include paper();}
  @include media-max(xs){min-width: 0;}
  .quote--wrapper{display: flex; flex-direction: column;justify-content: flex-end;}
  .quote--icon{ font-size: 4em; position: absolute; right: 15%; top: -0.4em; color: $primary; filter: drop-shadow(4px 3px 0px $secondary);}
  .rating{ margin-bottom: 1em;}
  .rating--text{}
  .rating--stars{ color: $primary;
    .rating--text+&{margin-top: 0.25em;}
    .empty{
      color: var(--fa-secondary-color,currentColor);
      opacity: var(--fa-secondary-opacity,.4);
    }
  }
  .quote{font-size: 0.85em; margin-top: auto; margin-bottom: auto;
    &+*{margin-top: 1em;}
  }
  .author{font-weight: 600; font-size: 0.9em;}
  .author_position{font-size: 0.85em; font-weight: 300;}
}


// CONTAO-OFFERS
.offer{}
.offer__title{}
.offer__location{opacity: 0.6; margin-bottom: 1.5em; margin-top: 1.5em;}
.offer__location__icon{margin-right: 0.25em; font-size: 1.25em;}
.offer__figure{background: color(greylighter); 
  .block-card[data-preset=inline] .block-card__wrapper &{flex-basis: 20%; max-height: 40vw;}
  .offer_details &+* {margin-top: $spacing; }
  .offer_details &+.sliderFW {margin-top: 1rem; }
}
.offer__teaser{@include multi-ellipsis(1em,body(line-height), 4); max-height: 100%;
  p,ul,ol{line-height: inherit;}
}
.offer__attributes{ display: flex; flex-wrap: wrap; justify-content: space-around; margin: 2em*1.5 auto; gap: 2em;
  @include media-max(xs){margin: 1em*1.5 auto; gap: 1em;}
  // .offer_details &{margin: 2em*1.5 0;}
}
.offer__attribute{
  // flex-grow: 1; 
  flex-shrink: 0;
  flex-basis: 28%; 
  max-width: 100%;
  min-width: 120px;
  padding: 0 2em;
  @include media-max(xs){padding: 0 1em;}
  // .offer_details &{}
}
.offer__attribute__title{font-size: 1.2em; margin-bottom: 0.35em; white-space: nowrap;}
.offer__attribute__value{opacity: 0.6;}
.offer__footer{display: flex; justify-content: flex-end; padding: 0 1em 1em; margin-top: 1em;
  .block-card[data-preset=inline] .block-card__content &{margin: 1em -2.5em -3em; }
  .block-std &{@extend .counter-bottom,.counter-right !optional;}
}
// .offer__more{font-size: 2em; opacity: 0.4; transition: opacity 0.4s; cursor: pointer; color: $primary;
//   &:hover{opacity: 0.8;}
// }
.offer__more:is(div){ opacity: 0.4; transition: opacity 0.4s; display: inline-block;  position: relative; width: 2em; height: 2em; color: inherit; cursor: pointer;
  &:before,
  &:after{ content: ""; display: block; width: 2em; height: 5px;margin: auto; width: 85%; background: currentColor; top: 50%; left: 50%; position: absolute; transform: translateX(-50%); border-radius: 20px;}
  &:before{transform: translateX(-50%) rotate(90deg);}
  &:hover{opacity: 0.8; color: inherit;}
}


// mod_listing
.mod_listing{
  .list_search{
    .input-group{
      .select2FW-wrapper{min-width: 150px;}
      >input[type=text]{flex-grow: 3;}
    }
  }
}

// LIST ICONS
@function tonal-transition($color1, $color2, $tonalSize, $tonalRequest){
  @if ($tonalRequest != 1){
    @return mix($color2, $color1, 100% * $tonalRequest/$tonalSize);
  }
  @else{
    @return $color1;
  }
}

.ce_rsce_listIcons{ margin-bottom: $spacing; align-items: baseline; justify-items: center;
  &:not(.d-grid){
    display: flex; flex-wrap: wrap; justify-content: center;margin-left: $spacing*-0.5; margin-right: $spacing*-0.5;
    .block-icon{min-width: 300px; flex-basis: 30%; flex-grow: 1;margin-left: $spacing*0.5; margin-right: $spacing*0.5;margin-bottom: $spacing;}
  }
  &.d-grid{
    .block-icon.empty{display: none;}
  }
  
  .block-icon{text-align: center; max-width: 350px; width: 100%;
    &.mode--icon{ width: auto;
      .block-icon__icon{ font-size: 4em; margin-bottom: 2rem;}
    }
    &[class*=bg--]{
      .block-icon__icon{ @include img-container(cover); aspect-ratio: 1/1; border-radius: 100%;
        img{position: relative; max-width: 70%;}
      }
    }
    @each $key, $value in $colors{
      &.bg--#{$key} .block-icon__icon{background: $value !important; color: contrastFW(color(white),$value);}
    }
  } 
  .block-icon__icon{display: flex;align-items: center;justify-content: center;}
  .block-icon__text{ font-size: 0.9rem; margin: 2rem auto; padding-bottom: 2rem; width: 220px; @include lastChildNoMargin(); }
  a{color:inherit;text-decoration: none;}
}

$logoSpace : clamp(3em,6vw,130px) !default;
.ce_rsce_listLogos{ display: flex; flex-wrap: wrap;align-items: center; justify-content: center;
  &:not([class*=m-left]):not([class*=m-x]):not([class*=w-full]){margin-left: $spacing;}
  &:not([class*=m-right]):not([class*=m-x]):not([class*=w-full]){margin-right: $spacing;}
  &:not([class*=m-bottom]):not([class*=m-y]){margin-bottom: $spacing;}
  &:not([class*=m-top]):not([class*=m-y]){margin-top: $spacing;}
  &:not([class*=gap-]){gap: $logoSpace;}
  &.w-full{
    .block-logo{max-width: 10%;}
  }
  .block-logo{flex: 0 0 calc(100% / 4 - #{$logoSpace});min-width: 200px;
    &[class*=bg--]{
      .block-logo__figure{ border-radius: 100%;
        img{ max-width: 80%; max-height: 50%; position: absolute; inset: 50%; transform: translate(-50%,-50%);}
      }
    }
    @each $key, $value in $colors{
      &.bg--#{$key} .block-logo__figure{background: $value !important; color: contrastFW(color(white),$value);}
    }
  }
  .block-logo__figure{display: flex;align-items: center;justify-content: center;}
}

// RATINGS
.ce_rsce_ratings{}
.rating{ margin-bottom: $spacing; 
  @include media-max(xs){margin-bottom: $spacing/2;}
}
.rating__label{margin-bottom: 0.25em;}
.rating__icons{font-size: 1.5em; margin: 0 -2px;
  i[class*=fa]{ margin: 0 2px;}
}
.rating__text{margin-top: 0.35em;  @include lastChildNoMargin(); }

// PDF VIEWER
.ce_rsce_pdfViewer{}
.pdfviewer__iframe{
  +*{margin-top: 1em;}
}



// EXTRANET
.mod_login{
  &.login{max-width: 600px;
    .login__submitwrapper{display: flex;flex-wrap: wrap;align-items: baseline;justify-content: center;font-size: 0.8em;
      .widget:only-child{margin-left: auto;}
    }
  }
}

.mod_registration{max-width: 900px;}

// password checker
.password-checker{ display: flex; flex-wrap: wrap; gap: 1em;
  .fields{flex-grow: 1; flex-basis: 50%;}
  .helper{align-self: center;
    p{margin-bottom: 0.75em; font-weight: bold;}
    ul{list-style: none;}
    li{margin-bottom: 0.5em; color: $error;
      &:before{display: inline-block;content:"\2715"; margin-left: -2.8ch; width: 2.8ch; text-align: center; font-weight: bold;}
      &.valid{color: $success;
        &:before{content:"\2713";}
      }
    }
  }
  input+button{position: absolute !important;right: 2px;width: 40px;top: 50%; transform: translateY(-50%); opacity: 0.5; transition: opacity 0.4s;
    :hover{opacity: 1;}
  }
}


// GEODATA
.locations__filters{display: flex;flex-wrap: wrap; gap: 1em; font-size: 0.8em;}
.location__filter{flex-grow: 1; flex-shrink: 0; flex-basis: 30%; max-width: 100%; min-width: 300px;
  &.form-group{margin: 0;}
  &.w-100{flex-basis: 100%;}
}


// audiotracks
.mod_wemaudiotrackslist{}
.audiotracks{display: grid; gap: 2em;}
.audiotrack{font-size: 0.8em;
  &:not(.inline){ @include paper();
    background: body(block-background); color: contrastFW(body(font-color), body(block-background));
    .audiotrack__wrapper{gap: 1em;}
    .audiotrack__text{padding: 1em;}
    .audiotrack__actions{padding: 1em;}
    .audiotrack__footer{padding: 1em;}
    // .audiotrack__content{@include media-max(sm){gap: 0;}}
  }
}
.audiotrack__wrapper{display: flex; flex-wrap: wrap; gap: 2em;
  @include media-max(sm){gap: 1em;}
  >*{flex-grow: 1;flex-shrink: 0; max-width: 100%;}
}
.audiotrack__figure{flex-basis: 25%; min-width: 200px;  background-size: cover; background-position: center; background-repeat: no-repeat;
  img{background: rgba(0,0,0,0.00001); object-fit: contain; backdrop-filter: blur(50px);}
  @include media-max(xxs){min-width: 0;}
}
.audiotrack__figure__text{position: absolute; max-width: 90%;top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1; text-align: center; color: body(background); text-shadow: 0 0 3px black; font-size: 1.5em;}
.audiotrack__content{flex-basis: 50%; min-width: 400px;display: flex; flex-wrap: wrap; gap: 2em;
  @include media-max(sm){min-width: 300px; gap: 1em;}
  @include media-max(xxs){min-width: 0;}
  >*{flex-grow: 1;flex-shrink: 0; max-width: 100%;}
  .audiotrack__figure{flex-basis: 10%;min-width: 150px;min-height: -webkit-fill-available; max-height: 20vh;
    img{ max-width: 100%; max-height: 100%;
      // height: auto !important;
    }
  }
}
.audiotrack__text{flex-basis: 60%; min-width: 300px;
  @include media-max(xxs){min-width: 0;}
}
.audiotrack__listened{display: flex;align-items: center;gap: 0.5em;
  &:not(.active){display: none;}
  span{opacity: 0.65;}
}
.audiotrack__title{}
.audiotrack__actions{flex-basis: 100%; display: flex; gap: 1em; align-items: center; margin-top: auto;}
.audiotrack__play{display: block;position: relative;background: $primary; color:body(background); width: 2em; height: 2em; border-radius: 100%; transition: all 0.4s; display: flex; align-items: center;justify-content: center; cursor: pointer; opacity: 0.8;
  .fa-play {transform: translateX(15%);}
  &:not(.playing) .fa-pause{display: none;}
  &.playing       .fa-play {display: none;}
  &:hover{opacity: 1;}
}
.audiotrack__duration{flex-grow: 1;}
.audiotrack__footer{flex-basis: 15%;min-width: 200px; display: flex; flex-wrap: wrap; gap: 2em; justify-content: space-between;
  @include media-max(sm){flex-basis: 100%; flex-wrap: nowrap; gap: 1em; }
}
.audiotrack__tags{flex-grow: 1;flex-shrink: 0; max-width: 100%; min-width: 80%; 
  @include media-max(sm){max-width: 80%;min-width: 250px;}
  @include media-max(xxs){min-width: 150px;}
  .tag{font-size: 0.8em;display: inline-block; background: rgba($primary,0.2); padding: 0.35em 0.5em; margin:3px 0; border-radius: 2px;}
}
.audiotrack__likes{ align-self: flex-end; line-height: 2em; cursor: pointer;
  i[class*=fa],svg{color: $primary;}
  &:not(.liked) .fa-heart.full{display: none;}
  &.liked .fa-heart.empty {display: none;}
}

.audiotracks__filters{
}
.audiotracks__filters__line{gap: 0.5em; align-items: flex-start; display: grid; 
  grid-template-columns: Repeat(Auto-fill, Minmax(#{320px}, 1fr)); 
  .form-group{margin-bottom: 0;}
}
.audiotracks__filters__col{display: flex;flex-wrap: wrap; flex-basis: 40%; flex-grow: 1; min-width: 300px;
  @include media-max(xxs){min-width: 0;}
}


.audioPlayer {background: $primary; color: contrastFW(#fff,$primary);  padding: 1em; position: fixed; width: 100%; bottom: 0; left: 0; z-index: $z_header - 1; transition: opacity 0.5s; opacity: 1;
  &:not(.active){opacity: 0;pointer-events: none;}
  input[type=range]{
    &:before,&:after{display: none;}
  }
}
.audioPlayer__wrapper {display: flex;  gap: 1em; align-items: center;}
.audioPlayer__title {flex-basis: 30%; min-width: 300px; flex-grow: 1; white-space: nowrap;
  @include media-max(xxs){min-width: 0;}
}
.audioPlayer__controls {flex-basis: 65%; min-width: 300px; display: flex; flex-grow: 1;align-items: center; gap: 1em;
  @include media-max(xxs){min-width: 0;}
}
.audioPlayer__buttons {display: flex; gap: 0.65em; align-items: center;}
.audioPlayer__button {opacity: 0.6; transition: opacity 0.4s; cursor: pointer; min-width: 1em; text-align: center;
  &.disabled{opacity: 0.2 !important;pointer-events: none;}
  &:hover{opacity: 1;}
  &.play {font-size: 1.5em; opacity: 1; 
    .audioPlayer:not(.playing) & .fa-pause{display: none;}
    .audioPlayer.playing       & .fa-play {display: none;}
  }
}
.audioPlayer__timecontrols {display: flex; font-size: 0.8em; font-weight: 300; flex-grow: 1; align-items: center; gap: 1em;}
.audioPlayer__current {opacity: 0.8;}
.audioPlayer__track:is(input[type=range]){flex-grow: 1; margin: 0;}
.audioPlayer__duration {opacity: 0.8;}
.audioPlayer__volumecontrols {font-size: 0.8em;display: flex;align-items: center;}
.audioPlayer__volume:is(input[type=range])   {transition: all 0.5s; width: 0em; margin: 0; overflow: hidden; 
  .audioPlayer__volumecontrols:hover &{width: 6em; margin-right: 1em;}
}
.audioPlayer__mute {
  &:not(.mute) .fa-volume-slash{display: none;}
  &.mute .fa-volume{display: none;}
}

@include media-max(sm){
  .audioPlayer__wrapper{gap: 0.5em; flex-wrap: wrap;}
  .audioPlayer__title{flex-basis: 100%; text-align: center; }
  .audioPlayer__controls{flex-wrap: wrap; gap: 0.5em;}
  .audioPlayer__buttons{flex-basis: 100%; justify-content: center;}
}